.bridge {
  position: absolute;
  top: 9.4rem;
  left: 25.4rem;

  color: white;

  .chain-container {
    display: flex;

  }

  &-main {
    .input-row {
      display: flex;
    }
  }

  .error-hint {
    color: red;
  }
}

