.confirmation {
    width: 60%;
    position: absolute;
    left: 20%;
    top: 100px;
}
.confirmation-title > span:nth-of-type(1) {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 17pt;
    text-align: center;
}
.confirmation-title > span:nth-of-type(2) {
    display: block;
    width: 100%;
    color: #CAC8C9;
    font-size: 13pt;
    text-align: center;
    margin-top: 10px;
}
.confirmation-content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.amount {
    width: 40%;
    height: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
}
.address {
    width: 40%;
    height: 100px;
    text-align: center;
    margin-left: 5%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0px 30px;
}
.amount > span:nth-of-type(1) {
    display: block;
    width: 100%;
    color: white;
    font-size: 15pt;
    margin-top: 15px;
}
.amount > span:nth-of-type(2) {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 17pt;
    font-weight: bold;
}
.address > span:nth-of-type(1) {
    display: block;
    width: 100%;
    color: white;
    font-size: 15pt;
    margin-top: 15px;
}
.address > span:nth-of-type(2) {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 17pt;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
