.flowStep {
    width: 50%;
    height: 30rem;
    position: absolute;
    top: 10%;
    left: 25%;
}
.flowStep-top {
    width: 100%;
    display: flex;
    justify-content: center;
}
.flowStep-top > span:nth-of-type(1) {
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
    background-color: #CB395F;
    color: #1D1B1D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: bold;
}
.flowStep > span:nth-of-type(1) {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 2rem;
}
.flowStep > span:nth-of-type(2) {
    display: block;
    width: 100%;
    text-align: center;
    color: #6C656C;
    font-size: 1.6rem;
    margin-top: 2rem;
}
.flowStep > button {
    width: 70%;
    height: 5.8rem;
    border: 0;
    margin-left: 15%;
    margin-top: 7rem;
    border-radius: 0.4rem;
    background: #CB395F;
    color: white;
    font-size: 1.6rem;
}
.flowStep > button:hover {
    background-color: #EB557C;
    color: #fff;
}

.request {
    width: 70%;
    height: 8rem;
    margin-left: 15%;
    margin-top: 9rem;
    border-radius: 0.2rem;
    background-color: #292427;
    display: flex;
    align-items: center;
}
.loading {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.requestText {
    width: 40%;
}
.requestText > span:nth-of-type(1) {
    display: block;
    width: 100%;
    color: #9B9498;
    font-size: 1.4rem;
}
.requestText > span:nth-of-type(2) {
    display: block;
    width: 100%;
    color: #E2D8DE;
    font-size: 1.4rem;
}
.request > Button {
    height: 2.5rem;
    line-height: 0;
    border: 1px solid white;
    color: white;

    background: none;
    margin-left: 2rem;
}
.request > Button:hover {
    color: white;
    border: 1px solid white;
    background: none;
}

