
.flow {
    width: 60%;
    height: 50rem;
    position: absolute;
    top: 10%;
    left: 20%;
}
.flow-title {
    width: 44%;
    text-align: center;
    margin-left: 28%;
}
.flow-title > span:nth-of-type(1) {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 3.4rem;
}
.flow-title > span:nth-of-type(2) {
    display: block;
    width: 100%;
    color: #817C81;
    font-size: 1.6rem;
    margin-top: 1.5rem;
}
.flow-content {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.flow-content-main {
    width: 35%;
    height: 28rem;
    float: left;
    margin-left: 5%;
    background-color: #1D1B1D;
    box-shadow: 5px 5px 10px #000;
}
.flow-content-main:hover {
    background-color: #2D282D;
}
.flow-content-main > span:nth-of-type(1) {
    display: block;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 7.2rem;
    font-size: 2.4rem;
    font-weight: bolder;
    background-color: #CB395F;
    color: #1D1B1D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc((100% - 7.2rem) / 2);
    margin-top: 3rem;
}
.flow-content-main > span:nth-of-type(2) {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    margin-top: 1rem;
}
.flow-content-main > span:nth-of-type(3) {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: #6C656C;
    margin-top: 3rem;
}
.flow-content-main > span:nth-of-type(4) {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem;
}

