.me {
    width: 45%;
    position: absolute;
    top: 10%;
    left: 27.5%;
}
.personal-title > span:nth-of-type(1){
    display: block;
    width: 100%;
    font-size: 3.4rem;
    font-weight: bolder;
    color: white;
    opacity: 0.3;
    text-align: center;
}
.personal-title > span:nth-of-type(2){
    display: block;
    width: 100%;
    font-size: 3.4rem;
    color: white;
    text-align: center;
    position: relative;
    top: -2.5rem;
}
.personal-content {
    width: 100%;
    height: 15rem;
    margin-top: 2.5rem;
}
.usd {
    width: 100%;
    height: 8.6rem;
    display: flex;
}
.usd > div {
    width: 23%;
    height: 8.6rem;
    margin-left: calc(8% / 5);
    border: 1px solid #fff;
    border-radius: 0.4rem;
    padding-left: 2rem;
}
.usd > div > span:nth-of-type(1) {
    width: 100%;
    display: block;
    font-size: 1.6rem;
    margin-top: 1.7rem;
    color: #fff;
}
.usd > div > span:nth-of-type(2) {
    display: block;
    font-size: 1.6rem;
    color: #fff;
}
.mortgage {
    width: 100%;
    height: 8.6rem;
    text-align: left;
    display: flex;
    margin-top: 1.5rem;
}
.mortgage > div {
    width: 47.56%;
    height: 8.6rem;
    margin-left: calc(8% / 5);
    border: 1px solid #fff;
    border-radius: 0.4rem;
    padding-left: 2rem;
}
.mortgage > div > span:nth-of-type(1) {
    width: 100%;
    display: block;
    font-size: 1.6rem;
    margin-top: 1.7rem;
    color: #fff;
}
.mortgage > div > span:nth-of-type(2) {
    display: block;
    font-size: 1.6rem;
    color: #fff;
}
.snk {
    width: 100%;
    margin-top: 4rem;
    margin-left: calc(8% / 5);
}
.snk > span:nth-of-type(1) {
    font-size: 1.6rem;
    color: #B9B1B7;
}
.snk > span:nth-of-type(2) {
    font-size: 2.4rem;
    color: #fff;
    margin-left: 1.5rem;
}
.hr {
    height: 1px;
    width: 96%;
    margin-left: calc(8% / 5);
    margin-top: 0.5rem;
    background: linear-gradient(to right,#6695FF,#FBDCC3,#39A28B,#FFA3A3);
}
.progressBar {
    width: 96%;
    height: 4rem;
    margin-top: 1rem;
    margin-left: calc(8% / 5);
}
.progressBar-top {
    width: 100%;
    position: relative;
}
.progressBar-top > span:nth-of-type(1) {
    color: #B9B1B7;
    font-size: 1.6rem;
    position: absolute;
    left: 0;
}
.progressBar-top > span:nth-of-type(2) {
    color: #B9B1B7;
    font-size: 1.6rem;
    position: absolute;
    right: 0;
}
