.liquidity {
  position: absolute;
  top: 10%;
  left: 27.5%;
  width: 391px;
  height: 435px;

  .info-container {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;

    .item {
      color: white;
      flex: 0 0 50%;
      margin-bottom: 2.5rem;

      .title {
        color: #63cca9;
        font-size: 16px;
      }

      .value {
        font-size: 36px;
      }

      .additional {
        color: #989898;
      }
    }
  }
}
