.transaction-success, .transaction-failed {
  border-radius: 2rem;
  background: #1C1C1C !important;
  font-size: 1.5rem;
  font-weight: bold;


  .prompt {
    display: flex;
    align-items: center;

    .promptContent {
      display: flex;
      align-items: center;
    }

    .promptText {
      margin-left: 2.2rem;
    }

    .promptImg {
      width: 1.8rem;
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
}
