.destruction {
    width: 26%;
    position: absolute;
    top: calc((100% - 500px) / 2);
    left: 37%;
}
.destruction-title {
    width: 100%;
    text-align: center;
}
.destruction-title > span:nth-of-type(1) {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 17pt;
}
.destruction-title > span:nth-of-type(2) {
    display: block;
    width: 100%;
    color: #817C81;
    font-size: 8pt;
    margin-top: 15px;
}
.operation {
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.operation > button {
    background: #CB395F;
    border: 0;
    color: white;
    border-radius: 2px;
    padding: 5px 30px;
}
.operation > button:hover {
    background-color: #EB557C;
}
.operation > button:nth-of-type(2) {
    margin-left: 45px;
}
.destruction-content {
    width: 100%;
    margin-top: 25px;
}
.destruction-content-title {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destruction-content-title > span:nth-of-type(1) {
    color: #B9B1B7;
    font-size: 8pt;
    margin-top: 3px;
}
.destruction-content-title > span:nth-of-type(2) {
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
}
.destruction-input {
    width: 100%;
    height: 45px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}
.all {
    cursor: pointer;
    color: white;
}
.all:hover {
    color: #7C747C;
}
.all:active {
    color: #CB395F;
}
.destruction-content-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.destruction-content-bottom > span:nth-of-type(1) {
    color: #B9B1B7;
    font-size: 8pt;
}
.destruction-content-bottom > span:nth-of-type(2) {
    color: #B9B1B7;
    font-size: 8pt;
    margin-left: 24px;
}
.destruction-bottom {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.destruction-bottom > button {
    width: 98%;
    height: 32pt;
    border: 0;
    margin-left: 1%;
    margin-bottom: 15px;
    border-radius: 4px;
    background: #CB395F;
    color: white;
}
.destruction-bottom > button:hover {
    background-color: #EB557C;
}
.destruction-bottom > span {
    color: #B9B1B7;
    font-size: 8pt;
}
