.ant-modal-content {
    background-color: #2C262C;
    width: 600px;
    height: 340px;
    margin-left: calc((100% - 600px) / 2);
    margin-top: calc((100% - 340px) / 2);
}
.modal-title {
    width: 100%;
    margin-top: 30px;
    color: white;
    font-size: 12pt;
    text-align: center;
    font-weight: bold;
}
.modal-content {
    width: 70%;
    margin-top: 40px;
    margin-left: 15%;
}
.modal-content > span:nth-of-type(1) {
    color: #706670;
    font-size: 8pt;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid #3A323A;
    background-color: #251F25;
    margin-top: 10px;
    position: relative;
    line-height: 40px;
}
.modal-input > input {
    width: 80%;
    height: 35px;
    border: 0;
    outline: none;
    background-color: #251F25;
    color: #706670;
}
.modal-input > span {
    position: absolute;
    right: 20px;
    color: white;
}
.footer {
   width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.footer > Button {
    width: 120pt;
    border: 1px solid #fff;
    background: none;
    color: white;
}
.footer > Button:hover {
    width: 120pt;
    border: 1px solid #fff;
    background: none;
    color: white;
}
.footer > Button:nth-of-type(2) {
    margin-left: 25px;
}
