.success {
    width: 20%;
    height: 400px;
    position: absolute;
    top: calc((100% - 500px) / 2);
    left: 40%;
    text-align: center;
}
.hook {
    width: 50pt;
    height: 50pt;
    border-radius: 50px;
    background-color: #1EC195;
    display: flex;
    justify-content: center;
    margin-left: calc((100% - 50pt) / 2);
}
.hook > i {
    width: 40px;
    height: 25px;
    display: inline-block;
    border: 1px solid #fff;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    vertical-align: baseline;
    margin-top: 10px;
}
.success > span:nth-of-type(1) {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 20px;
}
.success > span:nth-of-type(2) {
    display: block;
    width: 100%;
    color: #817C81;
    font-size: 8pt;
    margin-top: 20px;
}
.success > button {
    width: 100%;
    height: 29pt;
    color: #fff;
    background-color: #CB395F;
    border: 0;
    border-radius: 4px;
    margin-top: 98.5pt;
}
.success > button:hover {
    background-color: #EB557C;
}
