.transaction-status {
  margin-top: 5rem;
  color: white;
  width: 100%;
  height: 10.4rem;
  background-color: #292427;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0.4rem;

  .transaction-btn-group {
    position: absolute;
    right: 2rem;
    top: 3.5rem;

    .view-btn {
      width: 8rem;
      height: 3.4rem;
      margin-left: 2rem;
      border: 1px solid #fff;
      color: #E2D8DE;

      &:hover {
        background-color: #292427;
        border: 1px solid #fff;
        color: #fff;
      }
    }

    .close-btn {
      width: 8rem;
      height: 3.4rem;
      margin-left: 2rem;
      border: 1px solid #fff;
      color: #E2D8DE;

      &:hover {
        background-color: #292427;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }

  .transaction-success {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    background-color: #1EC195;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
  }

  .text {
    margin-left: 2rem;
    text-align: left;

    .content {
      display: block;
      color: #E2D8DE
    }

    .title {
      display: block;
      color: #9B9498;
    }
  }
}
